
@{
     Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <!-- checkout section  -->
    <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-2 order-lg-1">
                    <form class="checkout-form">

                        <div class="row address-inputs">
                            <div class="col-md-12">
                                <input type="text" placeholder="Username">
                                <input type="text" placeholder="Password">
                            </div>

                        </div>

                        <button class="site-btn submit-order-btn">Login</button>

                    </form>

                </div>
                
            </div>
        </div>
    </section>
    <!-- checkout section end -->


</body>
</html>
